@font-face {
    font-family: "docker";
    src: url(docker.ttf);
}

@font-face{
    font-family: "linewire";
    src: url(lnwr.ttf);
}
body{
    margin: 0px;
    height: 100%;
    width: 100%;
    box-sizing: border-box ;
}
h1, h2{
    font-family:docker;
}
.header{
    height: 100%;
    padding-top:2%;
    padding-bottom: 1%;
    padding-left:5%;
    display:flex;
    justify-content: space-between;
    align-items: center;}
.header-inner{
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.nav_link{
    text-decoration: none;
    font-family: "docker";
    color: #ffffff;
    padding-left:5%;
}
.navbar {
    max-width:50%;
    width:100%;
    font-size:24px;
    padding-right: -10%;
}
h1{
    font-size: 200px;
    background: #ffffff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-top:2%;
    margin-bottom:2%;
}

.intro-banner{

    background-image: url("/m_ban.png");
    background-size: cover;
    width:100%;
    height: 100%;
}
h2{
    font-size: 152px;
    text-align: center;
    background: #A0A38E;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    margin-bottom:0;
    margin-top:5%;
}

.container{
    width:100%;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom: 6%;
}

.container3{
    margin-top: 4%;
    margin-left: 20%;
    width:100%;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom: 6%;
}
.container2{
    width:100%;
}
.footer{
    background-color: #323226;
}
.foot{
    display: flex;
    justify-content: space-between;
}
.button-body{
    border-radius: 15px;
    align-items: center;
    background-color: #5D6146;
    padding: 2%;
}

.button{
    justify-content: center;
    font-family: "docker";
    cursor: pointer;
    font-size: 32px;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
    transition: background cubic-bezier(0.075, 0.82, 0.165, 1), 2s;
    margin: 50px;
    padding-top:25px ;
    
}

.filler{
padding-top: 5%;
padding-bottom: 5%;
}
.fil1{
float: left;
width: 40%;
padding-right:4%;
}
.fil2{
    float: right;
    width: 40%;
    padding-left:4%;
    }
.fill-text{
    font-family: "linewire";
    font-size: 50px;
}

.fill-text2{
text-align: right;
    font-family: "linewire";
    font-size: 50px;
    margin-left: 3%;
}

h3{
font-family: docker;
font-size: 90px;
margin-bottom: 0%;
}
.white{
    text-align: center;
    color: #ffffff;
    padding-top: 2%;
}
.whitenn{
    text-align: center;
    color: #ffffff;
    padding-top: 2%;
    font-size: 75px;
}
.head{
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}

.head1{
    text-align: center;
}
.cards {
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
.social{
    text-align: left;
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-top: 0;
}
.soc-img{
    margin-right: 3%;
    margin-top: 3%;
}
.soc-img:first-child{
    margin-right: 3%;
    padding:0;
    margin-top: 3%;
}
.pers-card{
    text-align: center;
}
.contacts{
    width: 80%;
    align-items: first baseline;
}
.social:first-child{
    margin-left: 3%;
}
h4{
    font-size: 40px;
    font-family: "docker";
    margin-bottom: 0;
}

.h41{
    text-align: center;
    color: #ffffff;
}
h5{
    font-size:25px;
    font-family: "docker";
    margin-top: 4%;
    opacity: 0.37;
}


.log{
    margin: 5%;
    margin-left: 8%;
}
.form{
    margin-left: -2%;
}
input{
    margin-left: 40%;
    margin-top: 3%;
    width: 600px;
    height:82px;
    display: inline-block;
    background: none;
    border: #323226 solid 3px;
    border-bottom: white solid 3px;
    opacity: 45%;
    font-size: 40px;
    font-family: "linewire";
    font-weight: 300;
    letter-spacing: 2.80px;
    word-wrap: break-word;
    color:#ffffff;
      }